.navigation {
    margin-top: 32px;
    min-width: 1400px;
}

.navigation__logo {
    display: inline-block;
    width: 127px;
    height: 22px;
}

.navigation__link-wrapper {
    display: inline-block;
    float: right;
}

.navigation__link {
    display: inline-block;
    margin-right: 58px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #121212;
}

.navigation__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid #000000;
}

.navigation__link:last-child {
    margin-right: 0;
}

section:first-child {
    margin-bottom: 70px;
}