.services {
    margin: 0 auto;
    padding-top: 153px;
    background: black;
    color: white;
}

.services__header {
    margin-bottom: 33px;
}

/* .services__header {
    padding-top: 150px;
    padding-bottom: 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
} */

.services__image-one {
    margin-bottom: 15px;
    height: 270px;
}

.services__image-two {
    margin-bottom: 11px;
}

.services__image-three {
    margin-bottom: 13px;
}

.services__image-four {
    margin-bottom: 14px;
}

.services__text {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

.services__list:last-child {
    padding-bottom: 156px;
}

.services__last-text {
    margin-bottom: -7px;
}