@import url(../styles/navigation.css);
@import url(../styles/interiors.css);
@import url(../styles/about_us.css);
@import url(../styles/projects.css);
@import url(../styles/services.css);
@import url(../styles/two-room.css);
@import url(../styles/contacts.css);
@import url(../styles/footer.css);

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: white;
    font-family: 'Manrope';
    color: #121212;
}

section {
    margin-bottom: 150px;
}

section:nth-child(6) {
    margin-bottom: 0;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 125px;
}

* {
    letter-spacing: -0.03em;
}