html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: white;
    letter-spacing: -0.03em;
    font-family: 'Manrope';
    color: #121212;
}

section {
    margin-bottom: 150px;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 125px;
}

/* НАВИГАЦИОННОЕ МЕНЮ */

.navigation {
    margin-top: 33px;
    min-width: 1400px;
}

.navigation__logo {
    display: inline-block;
    width: 127px;
    height: 22px;
}

.navigation__link-block {
    display: inline-block;
    float: right;
}

.navigation__link {
    display: inline-block;
    margin-right: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #121212;
}

.navigation__link:hover {
    text-decoration: underline;
}

.navigation__link:last-child {
    margin-right: 0;
}

section:first-child {
    margin-bottom: 70px;
}

/* Первая секция сайта (инетерьерная) */

.interiors__title {
    margin-bottom: 30px;
    width: 980px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
}

.interiors__image {
    position: relative;
    background-image: url('../resources/interior.png');
    background-repeat: no-repeat;
    height: 500px;
}

.interiors__image-text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    height: 81px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: white;
}

/* Секция "О нас" */

.informations__block {
    width: 100%;
    height: 518px;
}

h2 {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

/* .informations__header {
    margin-bottom: 30px;
    width: 51px;
    height: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
} */

.informations__text {
    margin-bottom: 30px;
    width: 1100px;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
}

.informations__link {
    display: inline-block;
    padding: 20px 40px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: white;
    background: #ad1818;

}

/* Секция "Проекты" */

.projects__images {
    margin-bottom: 90px;
}

/* .projects__header {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
} */

.projects__image {
    padding-bottom: 15px;
    height: 450px;
    width: 1150px;
}

.projects__title {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

.projects__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
    color: #ad1818;
}

.projects__link-btn {
    padding: 56px 0;
    display: block;
    width: 1150px;
    height: 153px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #ad1818;
    border: 1px solid red;
}

.projects__link-btn:hover {
    background-color: #ad1818;
    color: white;
}

/* Секция "Услуги" */

.services {
    margin: 0 auto;
    padding-top: 150px;
    background: black;
    width: 1400px;
    color: white;
}

/* .services__header {
    padding-top: 150px;
    padding-bottom: 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
} */

.services__image {
    margin-bottom: 15px;
    height: 270px;
}

.services__text {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

.services__list:last-child {
    padding-bottom: 150px;
}

.two-room__image {
    margin: 0 auto;
    position: relative;
    max-width: 1400px;
    height: 717px;
    background-image: url('../resources/project-two-room.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.two-room__text {
    color: white;
}

.two-room__p {
    position: absolute;
    width: 450px;
    left: 125px;
    bottom: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}